@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  font-size: 15px;
}

body {
  background-color: hsla(0, 0%, 100%, 0.75);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  max-width: 60%;
  max-height: 60%;
  text-align: left;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.attribution a {
  color: var(--dark-cyan);
}

h1 {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 2rem;
  font-size: 1.1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
}

.card1 {
  background-color: var(--Bright-orange);
  border-radius: 0.3rem 0 0 0.3rem;
  -webkit-border-radius: 0.3rem 0 0 0.3rem;
  -moz-border-radius: 0.3rem 0 0 0.3rem;
  -ms-border-radius: 0.3rem 0 0 0.3rem;
  -o-border-radius: 0.3rem 0 0 0.3rem;
}

.card2 {
  background-color: var(--Dark-cyan);
}

.card3 {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0.3rem 0.3rem 0;
  -webkit-border-radius: 0 0.3rem 0.3rem 0;
  -moz-border-radius: 0 0.3rem 0.3rem 0;
  -ms-border-radius: 0 0.3rem 0.3rem 0;
  -o-border-radius: 0 0.3rem 0.3rem 0;
}

button {
  background-color: hsl(0, 0%, 95%);
  border: transparent;
  padding: 1rem;
  margin: 1.5rem;
  width: 55%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  margin-left: 3rem;
  margin-top: 3rem;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

#card1 {
  color: var(--Bright-orange);
}

#card2 {
  color: var(--Dark-cyan);
}

#card3 {
  color: var(--Very-dark-cyan);
}

#card1:hover,
#card2:hover,
#card3:hover {
  color: hsl(0, 0%, 95%);
  border: hsl(0, 0%, 95%) 2px solid;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s ease-in-out;
}

#card1:hover {
  background-color: var(--Bright-orange);
}

#card2:hover {
  background-color: var(--Dark-cyan);
}

#card3:hover {
  background-color: var(--Very-dark-cyan);
}

img {
  margin: 2rem;
}

@media (max-width: 600px) {
  .main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100vh;
    text-align: left;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  button {
    margin: 1.5rem 2rem;
  }
  .attribution {
    display: none;
  }
  .card1 {
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    -webkit-border-radius: 0.3rem 0.3rem 0rem 0rem;
    -moz-border-radius: 0.3rem 0.3rem 0rem 0rem;
    -ms-border-radius: 0.3rem 0.3rem 0rem 0rem;
    -o-border-radius: 0.3rem 0.3rem 0rem 0rem;
    margin-top: 2rem;
  }

  .card3 {
    border-radius: 0 0 0.3rem 0.3rem;
    -webkit-border-radius: 0 0 0.3rem 0.3rem;
    -moz-border-radius: 0 0 0.3rem 0.3rem;
    -ms-border-radius: 0 0 0.3rem 0.3rem;
    -o-border-radius: 0 0 0.3rem 0.3rem;
    margin-bottom: 2rem;
  }
}
